---
---

<article class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="grid grid-cols-1 items-center gap-12 lg:grid-cols-2 lg:gap-16">
    <div class="flex flex-col gap-6">
      <div class="text-left">
        <h1
          id="typing"
          class="text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl animate-pulse"
        >
        </h1>

        <script is:inline>
          const text = "Hola, soy José Luis";
          let i = 0;
          const speed = 75;

          function typeWriter() {
            if (i < text.length) {
              document.getElementById("typing").innerHTML += text.charAt(i);
              i++;
              setTimeout(typeWriter, speed);
            }
          }

          typeWriter();
        </script>
        <h2 class="text-xl sm:text-2xl font-bold text-[#31a8cc] mt-4">
          Desarrollador Web y Multiplataforma
        </h2>

        <p class="mt-4 md:text-lg text-gray-600">
          Con doble formación profesional, me especializo en crear soluciones
          digitales innovadoras y eficientes. Mi enfoque se centra en la
          usabilidad, el rendimiento y la adaptabilidad, asegurando que cada
          proyecto cumpla con los más altos estándares de calidad.
        </p>
        <p class="mt-2 mb-4 md:text-lg text-gray-600">
          Apasionado por la tecnología y en constante evolución, amplío mis
          conocimientos a través de plataformas educativas digitales. Me encanta
          transformar ideas en experiencias funcionales y atractivas.
        </p>
        <p class="mt-2 md:text-lg text-gray-600">
          <strong class="sm:me-2">Idiomas: </strong>Español (nativo) - Inglés
          (medio) - Italiano (alto) - Francés (básico)
        </p>
      </div>
      <div class="flex flex-wrap gap-4">
        <a
          class="inline-flex items-center justify-center rounded-lg bg-[#31a8cc] px-5 py-3 text-base font-bold text-white shadow-lg transition-transform duration-200 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#31a8cc] focus:ring-offset-2"
          href="#projects"
        >
          Ver Proyectos
        </a>
        <a
          class="inline-flex items-center justify-center rounded-lg bg-[#31a8cc]/20 px-5 py-3 text-base font-bold text-[#31a8cc] shadow-lg transition-transform duration-200 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#31a8cc] focus:ring-offset-2"
          href="/contact"
        >
          Contactar
        </a>
        <a
          href="https://github.com/vdjoseluis/porfolio-v2"
          target="_blank"
          class="mx-auto md:mt-4 hover:underline hover:text-[#31a8cc]"
          aria-label="Ir al repositorio"
          >REPO: https://github.com/vdjoseluis/portfolio</a
        >
      </div>
    </div>
    <div class="relative h-64 w-full rounded-xl shadow-2xl sm:h-80 lg:h-full">
      <div class="relative h-full w-full rounded-xl overflow-hidden">
        <div
          class="absolute inset-0 bg-cover bg-center"
          style={`background-image: url('/foto.png')`}
        >
        </div>
        <div
          class="absolute inset-0 bg-gradient-to-t from-white/50 via-transparent to-transparent"
        >
        </div>
      </div>

      <div
        class="absolute inset-0 rounded-xl bg-gradient-to-t from-background-light via-transparent"
      >
      </div>
    </div>
  </div>
</article>
