---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "Sophie's Corner",
    description:
      "Aplicación desarrollada con React - TailwindCSS de mi proyecto final de Formación Profesional en DAW.",
    imageUrl: "/src/assets/screenshots/sophies1.png",
    skills: ["React", "NodeJS", "Express"],
  },
  {
    title: "Code & Cocktails",
    description:
      "App desarrollada con Angular - TailwindCSS - DaisyUI - Material. Busca cócteles por nombre o categoría. Muestra detalles de cada cóctel, incluyendo ingredientes e instrucciones.",
    imageUrl: "/src/assets/screenshots/codeAndCocktails1.png",
    skills: ["Angular", "TailwindCSS"],
  },
  {
    title: "VD Logistics - Desktop",
    description: "Aplicación Java Swing desarrollada con NetBeans IDE 25. Gestión y control de operarciones logísticas. Vista de tablas de servicios, clientes, usuarios, incidencias y logs.",
    imageUrl: "/src/assets/screenshots/vdLogisticsDesktop1.png",
    skills: ["Java", "Firebase"],
  },
  {
    title: "VD Logistics - Mobile",
    description: "Aplicación Kotlin desarrollada con Android Studio con Jetpack Compose. Gestión de funciones de operarios logísticos con notificaciones push. Vista de servicios asignados, clasificados por estado y ordenados por fecha.",
    imageUrl: "/src/assets/screenshots/vdLogisticsMobile1.png",
    skills: ["Android", "Kotlin", "Firebase"],
  },
  {
    title: "VD Logistics - Web",
    description: "Aplicación web desarrollada con Angular 19+ - TailwindCSS. Gestión y control de operarciones logísticas. Vista de servicios, usuarios, incidencias y clientes con Tabs de Angular Material.",
    imageUrl: "/src/assets/screenshots/vdLogisticsWeb1.png",
    skills: ["Angular", "Firebase"],
  },
  {
    title: "Countries App",
    description: "Aplicación desarrollada con Angular - TailwindCSS. Realiza búsquedas de países por nombre o por capital. Muestra listados de países clasificados por continentes.",
    imageUrl: "/src/assets/screenshots/countries1.png",
    skills: ["Angular", "TailwindCSS"],
  },
];
---

<article class="flex flex-col items-center justify-center gap-4 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl text-gray-900">Proyectos</h2>
  <p class="text-gray-500 text-center md:text-lg font-medium mb-2">
    Una selección de proyectos que demuestran mis habilidades y experiencia.
  </p>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center">
    {projects.map((project) => (
      <ProjectCard {...project} />
    ))}
  </div>
</article>
