---
import Header from "../components/Header.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}
const { title } = Astro.props;
const lang = Astro.url.pathname.split("/")[1] || "es";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link crossorigin="" href="https://fonts.gstatic.com/" rel="preconnect" />
    <link
      as="style"
      href="https://fonts.googleapis.com/css2?display=swap&family=Space+Grotesk:wght@400;500;700"
      onload="this.rel='stylesheet'"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script type="module">
      import { initTheme } from "../scripts/theme";

      document.addEventListener("astro:page-load", initTheme);
      document.addEventListener("astro:after-swap", initTheme);
    </script>
  </head>
  <body>
    <ClientRouter />
    <Header data-astro-transition-persist />
    <slot />
  </body>
</html>
