<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link crossorigin="" href="https://fonts.gstatic.com/" rel="preconnect" />
    <link
      as="style"
      href="https://fonts.googleapis.com/css2?display=swap&family=Space+Grotesk:wght@400;500;700"
      onload="this.rel='stylesheet'"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio | José Luis Vásquez Drouet</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<!-- <style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
 -->
